<BsNav class="sidebar" @type="pills" @justified={{false}} @stacked={{true}} @fill={{false}} as |nav|>
    <nav.dropdown as |dd|>
        <dd.toggle> {{svg-jar "dashboard_black"}} Dashboard <span class="caret"></span>
        </dd.toggle>
        <dd.menu as |ddm|>
            <ddm.item>
                <ddm.link-to @route="dashboard">Projects</ddm.link-to>
            </ddm.item>
            <ddm.item>
                <ddm.link-to @route="kpi">KPI</ddm.link-to>
            </ddm.item>
        </dd.menu>
    </nav.dropdown>
    <nav.dropdown as |dd|>
        <dd.toggle>
            {{svg-jar "table_view"}} Ministries
            <span class="caret"></span>
        </dd.toggle>
        <dd.menu as |ddm|>
            <ddm.item>
                <ddm.link-to @route="kpi">Projects</ddm.link-to>
            </ddm.item>
            <ddm.item>
                <ddm.link-to @route="kpi">KPI</ddm.link-to>
            </ddm.item>
        </dd.menu>
    </nav.dropdown>
    <nav.item disabled>
        <nav.link-to @route="maps">{{svg-jar "map_pin"}} Existing Maps</nav.link-to>
    </nav.item>
    <nav.item disabled>
        <nav.link-to @route="maps">{{svg-jar "download"}} Downloads</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to @route="maps">{{svg-jar "settings_black"}} Settings</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to @route="maps">{{svg-jar "chat"}} Chats</nav.link-to>
    </nav.item>

</BsNav>

<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked />
<label for="sidebar-btn"></label>