<BsNav class="sidebar" @type="pills" @justified={{false}} @stacked={{true}} @fill={{false}} as |nav|>
    <div class="navbar-header">
        {{navbar.toggle}}
        {{#link-to "index" class="navbar-brand green"}} {{svg-jar "turkana_logo_main"}} {{uppercase "Turkana
        County"}}{{/link-to}}
    </div>
    <nav.item>
        <nav.link-to @route="dash">{{svg-jar "dashboard_black"}} Dashboard</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to @route="maps">{{svg-jar "map_pin"}} Existing Maps</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to class="disabled" @route="users">{{svg-jar "download"}} Downloads</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to class="disabled" @route="users">{{svg-jar "map_pin"}} Integrated Systems</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to class="disabled" @route="users">{{svg-jar "settings_black"}} Settings</nav.link-to>
    </nav.item>
    <nav.item>
        <nav.link-to class="disabled" @route="users">{{svg-jar "chat"}} Chats</nav.link-to>
    </nav.item>

</BsNav>

<input type="checkbox" id="sidebar-btn" class="sidebar-btn" checked />
<label for="sidebar-btn"></label>