{{!-- {{yield}} --}}

<BsNavbar @type="dark" class="fixed-top" @backgroundColor="dark" @collapsed={{true}} as |navbar|>
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand ml-3 mt-4" }} {{svg-jar "turkana_logo_main"}}{{/link-to}}
  </div>
  <navbar.content>
  </navbar.content>
  {{!-- {{#if this.session.isAuthenticated}}
  <div class="d-flex justify-content-end">
    <div class="user-nav mr-3 mt-2 green d-sm-flex d-none"><span class="user-name">John Doe</span></div>
    <Common::Profile-Icon @icon={{svg-jar "account_circle_white" }} @link="login" @class="rounded-pill" />
  </div>
  {{else}}
  <Common::Profile-Icon @icon={{svg-jar "account_circle_white" }} @link="login" @class="rounded-pill" @text="login" />
  {{/if}} --}}
  {{!-- <button type="button" class="btn btn-success {{@class}}"><span class={{@span}}>{{@text}}</span>
    {{@icon}}</button> --}}

  <li class="dropdown dropdown-user nav-item">
    <a class="dropdown-toggle nav-link dropdown-user-link" href="javascript:void(0);" data-toggle="dropdown"
      aria-expanded="false">
      {{#if this.session.isAuthenticated}}
      <span>
        {{svg-jar "account_circle_white" class="green" alt="avatar" height="40" width="40" }}
      </span>
      {{else}}
      <img class="round" src="/images/avatar.png" alt="avatar" height="40" width="40">
      {{/if}}
    </a>
    <div class="dropdown-menu dropdown-menu-right pb-0">
      {{#link-to "admin" class="dropdown-item"}}<i class="bx bx-power-off mr-50"></i> Admin{{/link-to}}
      {{#link-to "maps" class="dropdown-item"}}<i class="bx bx-power-off mr-50"></i> Maps{{/link-to}}
      {{#link-to "projects" class="dropdown-item"}}<i class="bx bx-power-off mr-50"></i> Projects{{/link-to}}


      <div class="dropdown-divider mb-0"></div>
      {{#link-to "login" class="dropdown-item"}}<i class="bx bx-power-off mr-50"></i> Logout{{/link-to}}

    </div>
  </li>
</BsNavbar>
