{{!-- {{yield}} --}}

<BsNavbar @type="dark" class="fixed-top" @backgroundColor="dark" @collapsed={{true}} as |navbar|>
  <div class="navbar-header">
    {{#link-to "index" class="navbar-brand ml-3" }} {{svg-jar "turkana_logo_main"}}{{/link-to}}
  </div>
  <navbar.content>
  </navbar.content>
  {{#if this.session.isAuthenticated}}
  <div class="d-flex justify-content-end">
    <h4 class="green mr-3 mt-2">{{capital me.user.name}}</h4>
    <Common::Profile-Icon @icon={{svg-jar "account_circle_white" }} @link="login" @class="rounded-pill" />
  </div>
  {{else}}
  <Common::Profile-Icon @icon={{svg-jar "account_circle_white" }} @link="login" @class="rounded-pill" @text="login" />
  {{/if}}
  {{!-- <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link"
      href="javascript:void(0);" data-toggle="dropdown" aria-expanded="false">
      <div class="user-nav d-sm-flex d-none"><span class="user-name">John Doe</span><span
          class="user-status text-muted">Available</span></div><span><img class="round"
          src="../assets/images/avatar.png" alt="avatar" height="40" width="40"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right pb-0"><a class="dropdown-item" href="page-user-profile.html"><i
          class="bx bx-user mr-50"></i> Edit Profile</a><a class="dropdown-item" href="app-email.html"><i
          class="bx bx-envelope mr-50"></i> My Inbox</a><a class="dropdown-item" href="app-todo.html"><i
          class="bx bx-check-square mr-50"></i> Task</a><a class="dropdown-item" href="app-chat.html"><i
          class="bx bx-message mr-50"></i> Chats</a>
      <div class="dropdown-divider mb-0"></div><a class="dropdown-item" href="auth-login.html"><i
          class="bx bx-power-off mr-50"></i> Logout</a>
    </div>
  </li> --}}
</BsNavbar>

<style>
  .header-navbar .navbar-container ul.nav li>a.nav-link {
    color: #727E8C;
  }

  .header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    float: left;
    margin-right: 0.8rem;
  }

  .header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-name {
    display: inline-block;
    margin-left: 0.2rem;
    line-height: 1.2;
  }

  .header-navbar .navbar-container ul.nav li a.dropdown-user-link .user-status {
    font-size: smaller;
  }
</style>