{{page-title "Filter"}}
{{outlet}}

<div>
    <h3 class="mb-4 green">{{uppercase "COUNTY PROJECTS ALLOCATION"}}</h3>
    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option selected>Choose Department</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <select class="form-select" aria-label="Default select example">
                <option selected>Choose Ward</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <a href="/projects/1">
                {{svg-jar "school" width='120px' height='120px'}}
                <p class="card-label green">School</p>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/projects/1">
                {{svg-jar "water" width='120px' height='120px'}}
                <p class="card-label green">Water Resources</p>
            </a>
        </div>
        <div class="col-md-4 text-center">
            <a href="/projects/1">
                {{svg-jar "structures" width='120px' height='120px'}}
                <p class="card-label green">Structures</p>
            </a>
        </div>

        <div class="col-md-4 text-center">
            {{svg-jar "road" width='120px' height='120px'}}
            <p class="card-label">Road</p>
        </div>
        <div class="col-md-4 text-center">
            {{svg-jar "community" width='120px' height='120px'}}
            <p class="card-label">Community Developments</p>
        </div>
        <div class="col-md-4 text-center">
            {{svg-jar "resource" width='120px' height='120px'}}
            <p class="card-label">Resource</p>
        </div>
    </div>

    <div class="fixed-bottom d-flex flex-row-reverse">
        <a href="/projects" class="mr-5 mb-5"> {{svg-jar "back_button"}}</a>
    </div>
</div>