{{page-title "Projects"}}
{{outlet}}

<div>
    {{!-- TODO: Convert below cards to projects page navigation --}}
    <h4 class="content-header-title pr-1 mb-0 green">{{uppercase "PROJECTS"}}</h4>

    <div class="row mt-4">
        <div class="col-xl-3 col-md-4 col-sm-6 mb-1">
            <div class="card text-center bg-blue">
                <div class="card-body">
                    <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                        <i class="bx bx-file font-medium-5"></i>
                    </div>
                    <p class="mb-0 line-ellipsis mb-3">{{uppercase "ALLOCATION SUMMARY"}}</p>
                    <a href="/projects/summary" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 mb-1">
            <div class="card text-center bg-purple">
                <div class="card-body">
                    <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                        <i class="bx bx-file font-medium-5"></i>
                    </div>
                    <p class="mb-0 line-ellipsis mb-3">{{uppercase "GENERAL ALLOCATION"}}</p>
                    <a href="/projects/filter" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 mb-1">
            <div class="card text-center bg-yellow text-light">
                <div class="card-body">
                    <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                        <i class="bx bx-file font-medium-5"></i>
                    </div>
                    <p class="mb-0 line-ellipsis mb-3">{{uppercase "IMPLEMENTATION STATUS"}}</p>
                    <a href="#" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 mb-1">
            <div class="card text-center bg-brown text-light">
                <div class="card-body">
                    <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                        <i class="bx bx-file font-medium-5"></i>
                    </div>
                    <p class="mb-0 line-ellipsis mb-3">{{uppercase "UPTAKE REPORTS"}}</p>
                    <a href="#" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-4 col-sm-6 mb-1">
            <div class="card text-center bg-orange text-light">
                <div class="card-body">
                    <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                        <i class="bx bx-file font-medium-5"></i>
                    </div>
                    <p class="mb-0 line-ellipsis mb-3">{{uppercase "RESOURCE REQUIREMENTS"}}</p>
                    <a href="#" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>
    </div>
</div>