{{page-title "Projects"}}
{{outlet}}

<div>
    {{!-- TODO: Convert below cards to projects page navigation --}}
    <div class="row mt-4">
        <div class="col-md-4 col-lg-2">
            <div class="card text-center p-2 mb-3 shadow border-0 rounded-0 bg-purple text-light">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:15px;">{{uppercase "PROJECTS ALLOCATION SUMMARY"}}</h4>
                    <a href="/projects/summary" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="card text-center p-2 mb-3 shadow border-0 rounded-0 bg-purple text-light">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:15px;">{{uppercase "PROJECTS ALLOCATION"}}</h4>
                    <a href="/projects/filter" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="card text-center p-2 mb-3 shadow border-0 rounded-0 bg-blue text-light">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:15px;">{{uppercase "IMPLEMENTATION STATUS"}}</h4>
                    <a href="#" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="card text-center p-2 mb-3 shadow border-0 rounded-0 bg-brown text-light">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:15px;">{{uppercase "UPTAKE REPORTS"}}</h4>
                    <a href="#" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-2">
            <div class="card text-center p-2 mb-3 shadow border-0 rounded-0 bg-brown text-light">
                <div class="card-body">
                    <h4 class="card-title" style="font-size:15px;">{{uppercase "RESOURCE REQUIREMENTS"}}</h4>
                    <a href="#" class="btn btn-primary">view</a>
                </div>
            </div>
        </div>
    </div>
</div>