{{page-title "Ward"}}
{{outlet}}
{{bread-crumbs tagName="ol" outputStyle="bootstrap" linkable=true crumbClass="breadcrumb-item" linkClass="breadcrumb-link"}}

<div class="row">
    <div class="col-md-12">
        <h2 class="green">{{this.model.project_name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-lg-2 mb-4">
        <div class="card bg-purple text-light shadow border-0 rounded-0">
            <div class="card-body text-center">
                <div class="card-icon">
                    <h2>{{ currency-short this.model.project_cost}}</h2>
                    <h3 class="card-label">Budget</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-lg-2 mb-4">
        <div class="card bg-green text-light shadow border-0 rounded-0">
            <div class="card-body text-center">
                <div class="card-icon">
                    <h3>{{this.model.financial_year}}</h3>
                    <h3 class="card-label">Financial Year</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{this.model.description}}</p>
    </div>
</div>
<div class="row">
    <Table />
</div>
<div class="row">
    <div class="col">
        {{svg-jar "pdf"}}
        {{!-- <a class="btn text-white bg-green b-3" href="#" role="button">Download</a> --}}
        <BsButton @defaultText="Download" @pendingText="Downloading..." @resolvedText="Download complete!"
            @onClick={{action "download" "pdf" }} class="text-white bg-green"/>
    </div>
    <div class="col">
        {{svg-jar "word"}}
        <BsButton @defaultText="Download" @pendingText="Downloading..." @resolvedText="Download complete!"
            @onClick={{action "download" "word"}} class="text-white bg-green"/>
    </div>
    <div class="col">
        {{svg-jar "excel"}}
        <BsButton @defaultText="Download" @pendingText="Downloading..." @resolvedText="Download complete!"
            @onClick={{action "download" "excel"}} class="text-white bg-green"/>
    </div>
</div>