<div class="card text-center p-3 mb-5 shadow border-0 rounded-0 {{@class}}">
  <div class="card-header {{@class}}">
      <h4 class="mb-0 {{@typoClass}}">{{@header}}</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{@value}}</h4>
    <p class="card-text">{{@text}}</p>
    {{!-- <div class="card-footer {{@section}}">
      <div class="curve"></div>
    </div> --}}
    {{!-- <a href="#" class="btn btn-primary">Go somewhere</a> --}}
  </div>
</div>