{{page-title "Dashboard"}}
<div class="row mb-3">
    <div class="col-2">
        <div class="card bg-green">
            <div class="card-body">
                <p>+</p>
                <h4>ADD REPORT</h4>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="card bg-green">
            <div class="card-body">
                <p>+</p>
                <h4>ADD REPORT</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card text-center shadow p-2 mb-3 bg-white rounded">
                    <div class="card-body">
                        {{ember-chart
                        type=this.type
                        data=this.data
                        options=this.options
                        }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center shadow p-2 mb-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title ">Total Submitted Reports</h5>
                        <h1 class="card-text green">
                            {{this.number}}
                        </h1>
                        <a href="#" class="card-link">Card link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow p-2 mb-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">Pending Reports</h5>
                        <h1 class="card-text green">
                            {{this.number}}
                        </h1>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card text-center shadow p-2 mb-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">Awaiting Approval</h5>
                        <h1 class="card-text green">
                            {{this.number}}
                        </h1>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card text-center shadow p-2 mb-3 bg-white rounded">
            <div class="card-body">
                <div class="card-title">
                    {{this.number}}
                </div>
                {{ember-chart
                type="bar"
                data=this.data
                width=900
                height=200
                options=this.options
                }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="card text-center shadow p-2 mb-3 bg-white rounded" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card text-center shadow p-2 mb-3 bg-white rounded" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>