{{page-title "Downloads"}}
{{outlet}}

<div class="downloads">
    <h4 class="mb-4 text-muted">Downloads </h4>
    <ul class="list-group">
        <li class="list-group-item mt-1 mb-1">Cras justo odio</li>
        <li class="list-group-item mt-1 mb-1">Cras justo odio</li>
        <li class="list-group-item mt-1 mb-1">Cras justo odio</li>
        <li class="list-group-item mt-1 mb-1">Cras justo odio</li>
        <li class="list-group-item mt-1 mb-1">Cras justo odio</li>
    </ul>

    <div class="row">
        <div class="col-md-5 col-lg-3 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">County CIDP</h5>

                    <span tabindex="1" class="toggler">{{svg-jar "download_white"}}</span>
                    <div class="dropdown shadow border-0 rounded-5">
                        <div class="d-flex flex-row justify-content-center shadow">
                            <div class="p-2 green bg-light">PDF</div>
                            <div class="p-2 green bg-light">csv</div>
                            <div class="p-2 green bg-light">xls</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Manuals</h5>
                    <span tabindex="1" class="toggler">{{svg-jar "download_white"}}</span>
                    <div class="dropdown shadow border-0 rounded-5">
                        <div class="d-flex flex-row justify-content-center shadow">
                            <div class="p-2 green bg-light">PDF</div>
                            <div class="p-2 green bg-light">csv</div>
                            <div class="p-2 green bg-light">xls</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Policies</h5>
                    <span tabindex="1" class="toggler">{{svg-jar "download_white"}}</span>
                    <div class="dropdown shadow border-0 rounded-5">
                        <div class="d-flex flex-row justify-content-center shadow">
                            <div class="p-2 green bg-light">PDF</div>
                            <div class="p-2 green bg-light">csv</div>
                            <div class="p-2 green bg-light">xls</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Templates</h5>
                    <span tabindex="1" class="toggler">{{svg-jar "download_white"}}</span>
                    <div class="dropdown shadow border-0 rounded-5">
                        <div class="d-flex flex-row justify-content-center shadow">
                            <div class="p-2 green bg-light">PDF</div>
                            <div class="p-2 green bg-light">csv</div>
                            <div class="p-2 green bg-light">xls</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>