{{page-title "Downloads"}}
{{outlet}}

<div class="downloads">
    <div class="row">
        <div class="col-md-12 bg-gray p-2 mb-2 mt-2 border-1 d-flex justify-content-between">
            <h4 class="ml-3 mt-3">County CIDP</h4>
            <span>{{svg-jar "pdf"}}{{svg-jar "word"}}{{svg-jar "excel"}}</span>
        </div>
        <div class="col-md-12 bg-gray p-2 mb-2 mt-2 border-1 d-flex justify-content-between">
            <h4 class="ml-3 mt-3">Policies</h4>
            <span>{{svg-jar "pdf"}}{{svg-jar "word"}}{{svg-jar "excel"}}</span>
        </div>
        <div class="col-md-12 bg-gray p-2 mb-2 mt-2 border-1 d-flex justify-content-between">
            <h4 class="ml-3 mt-3">Templates</h4>
            <span>{{svg-jar "pdf"}}{{svg-jar "word"}}{{svg-jar "excel"}}</span>
        </div>
        <div class="col-md-12 bg-gray p-2 mb-2 mt-2 border-1 d-flex justify-content-between">
            <h4 class="ml-3 mt-3">Manuals</h4>
            <span>{{svg-jar "pdf"}}{{svg-jar "word"}}{{svg-jar "excel"}}</span>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4 class="mb-2">Suggest a document we can upload here</h4>
            <BsForm @formLayout="vertical" @model={{this}} @onSubmit={{action "submit" }} as |form|>
                <form.element @controlType="text" @property="name" as |el|>
                    <el.control placeholder="full name" required />
                </form.element>
                <form.element @controlType="email" @property="email" as |el|>
                    <el.control placeholder="Email" required />
                </form.element>
                <form.element @controlType="textarea" @property="textarea" />
                <form.submitButton class="bg-green">Submit</form.submitButton>
            </BsForm>
        </div>
    </div>
</div>