{{page-title "Kpi"}}
<div class="kpi">

    <div class="row">
        <div class="col">
            <div class="wrapper">
                <select {{on "change" this.dropdownValue value="target.value" }} onfocus='this.size=5;'
                    onblur='this.size=1;' class="form-select" aria-label="Default select example">
                    <option selected>Select data by project</option>
                    {{#each dropdown as |dt|}}
                    <option value={{dt}}>{{dt}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </div>
    <div class="container mt-1 pr-1 ml-3">
        <div class="row justify-content-md align-items-center">
            <div class="col">
                <Common::Card-Config @header="Overall Amount" @section="section" @value={{fomartcurrency
                    totalWardAmountSpent}} />
            </div>
            <div class="col">
                <Common::Card-Config @header="Amount per Project" @value={{fomartcurrency totalProjectCosts}} />
            </div>
            <div class="col">
                <Common::Card-Config @header="Complete projects" @value={{complete}} />
            </div>
            <div class="col">
                <Common::Card-Config @header="Incomplete projects" @value={{incomplete}} />
            </div>
        </div>
    </div>
    <div class="container mt-1 ml-3">
        <BsTab as |tab|>
            <tab.pane @title="Graphs">
                <div class="card mt-4">
                    <div class="card-header bg-transparent">
                        <h1 class="justify-content-md align-items-center">Amount spent per ward</h1>
                    </div>
                    <div class="card-body">
                        {{ember-chart
                        type='bar'
                        data=pieData
                        options=options
                        }}
                    </div>
                </div>
            </tab.pane>
            <tab.pane @title="More Reports">
                <div class="card mt-4">
                    <div class="card-header bg-transparent">
                        <h1 class="justify-content-md align-items-center">Amount spent per ward</h1>
                    </div>
                    <div class="card-body">
                        {{ember-chart
                        type=type
                        data=pieData
                        options=options
                        }}
                    </div>
                </div>
            </tab.pane>
        </BsTab>
    </div>
</div>