{{page-title "Kpi"}}
{{outlet}}
<div class="">
    <p class="card-text">
        you have reached kpi
    </p>
</div>
{{!-- <Common::Chart-Config @data={{data}} @labels={{labels}} @model={{model}}/> --}}
