{{page-title "Kpi"}}
{{outlet}}

<div class="row">
    <div class="col-md-12">
        {{svg-jar "kpi" width="120"}}
        <h2 class="green">KPI's</h2>
    </div>
</div>

<div class="input-group">
    <select class="form-select" {{on "change" this.dropdownValue value="target.value" }} class="form-select"
        aria-label="Default select example">
        <option selected>Choose Department</option>
        {{#each dropdown as |dt|}}
        <option value={{dt}}>{{dt}}</option>
        {{/each}}
    </select>
</div>

<div class="row">
    <div class="col-md-12">

        <Table @tableHeaders={{dropdown}} @model={{this.modelData}} />
    </div>
</div>

<div class="row">
    <div class="col">
        <h3 class="green">M&#38;E OUTCOME INDICATORS</h3>
        <Table />
    </div>
</div>
<div class="row">
    <div class="col">
        {{svg-jar "pdf"}}
        <BsButton @defaultText="Download" @pendingText="Downloading..." @resolvedText="Download complete!"
            @onClick={{action "download" "pdf" }} class="text-white bg-green" />
    </div>
    <div class="col">
        {{svg-jar "word"}}
        <BsButton @defaultText="Download" @pendingText="Downloading..." @resolvedText="Download complete!"
            @onClick={{action "download" "word" }} class="text-white bg-green" />
    </div>
    <div class="col">
        {{svg-jar "excel"}}
        <BsButton @defaultText="Download" @pendingText="Downloading..." @resolvedText="Download complete!"
            @onClick={{action "download" "excel" }} class="text-white bg-green" />
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="fixed-bottom d-flex flex-row-reverse">
            <a href="/dash" class="mr-5 mb-5"> {{svg-jar "back_button"}}</a>
        </div>
    </div>
</div>