{{page-title "Maps"}}
{{outlet}}

{{!--
<iframe src="https://www.google.com/maps/d/embed?mid=190sjggB_7ADukXxy8fytp0Bqut77secD&ehbc=2E312F" width="1600" height="990"></iframe>
 --}}
<div class="alerts-container">
  {{#each this.flashMessages.queue as |flash|}}
  <FlashMessage @flash={{flash}} />
  {{/each}}
</div>

TODO: Maps linked via navigation tabs at the top(for now 2 links)

<div class="row" style='{{if maps this.myStyle}}'>
  <div class="col-md-9 col-lg-9">

    <GMap @lat={{london.lat}} @lng={{london.lng}} @zoom={{8}} @styles={{this.myStyle}} class="ember-google-map-cover"
      @scrollwheel={{false}} @panControl={{false}} @streetViewControl={{false}} @gestureHandling="greedy"
      @disableDefaultUI={{true}} @zoomControl={{false}} @fullscreenControl={{true}} as |g|>

      {{#each this.filteredLocation key="id" as |location id |}}

      <g.infoWindow @lat={{location.lat}} @lng={{location.lng}} @isOpen={{this.mapTooltipOpen}} @onCloseclick={{fn (mut
        this.mapTooltipOpen) false}} @content="<i>Simple text tooltip</i>" />

      <g.marker @lat={{location.lat}} @lng={{location.lng}} @onClick={{fn this.flashMessage location.name}} as |m|>
        <m.infoWindow @isOpen={{this.markerTooltipOpen}} @onCloseclick={{fn (mut this.markerTooltipOpen) false}}>
          <div class="text-center">
            <div>Name: {{location.name}} </div>
            <div>Name: {{location.lat}} </div>
          </div>
        </m.infoWindow>

      </g.marker>
      {{/each}}

    </GMap>
  </div>

  <div class="col-md-3 col-lg-3">
    <BsButtonGroup @class="btn-group-vertical" @value={{buttonGroupValue}} @type="radio" @onChange={{this.filterBy}}
      as |bg|>
      <div class="list-group">
        <bg.button class="green bg-green-hover list-group-item list-group-item-action" @value="all">SHOW ALL</bg.button>
        {{#each this.filterOptions as |option|}}
        <bg.button class="green bg-green-hover list-group-item list-group-item-action" @value={{option}}>{{option}}
        </bg.button>
        {{/each}}
      </div>
    </BsButtonGroup>
  </div>
</div>