{{page-title "Maps"}}
{{outlet}}

<div class="alerts-container">
  {{#each this.flashMessages.queue as |flash|}}
  <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
<div class="row">
  <div class="col-md-9 col-lg-9">
    <div class="card">

      <GMap @lat={{london.lat}} @lng={{london.lng}} @zoom={{8}} @styles={{this.myStyle}} class="ember-google-map-cover"
        @scrollwheel={{false}} @panControl={{false}} @streetViewControl={{false}} @gestureHandling="greedy"
        @disableDefaultUI={{true}} @zoomControl={{false}} @fullscreenControl={{true}} as |g|>

        {{#each this.filteredLocation key="id" as |location id |}}

        <g.marker @lat={{location.lat}} @lng={{location.lng}} {{!-- @onClick={{toggle "markerTooltipOpen" this}} --}}
          @onClick={{fn this.handleOnClick id}} as |m|>
          <m.infoWindow @isOpen={{location.active}} @onCloseclick={{fn (mut location.active) false}}>
            {{#if location.active}}
            <div id={{id}} class="text-center">
              <div>Name: {{location.name}} </div>
              <div>Name: {{location.lat}} </div>
            </div>
            {{/if}}
          </m.infoWindow>

        </g.marker>
        {{/each}}
      </GMap>
    </div>
  </div>

  <div class="col-md-3 col-lg-3">
    {{!-- <div id="myDropdown" class="dropdown">
      <div class="dropdown-content">
        <Input placeholder='Search' id="dropdownMenuButton" class="form-control search-input dropdown-toggle"
          autocomplete="on" @click="searchLoading=false" @insert-newline="enter" @bubbles="false" type="text"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {{on "keyup" (action "change" )}} />
        {{#if this.filterFunction.isLoaded}}
        {{#each this.filterFunction as |obj|}}
        <li>
          <hr class="dropdown-divider" />
        </li>
        <div class="dropdown-item">
          <div class="search chapter-title">
            {{obj}}
          </div>
        </div>
        {{/each}}
        {{/if}}
      </div>
    </div> --}}
    <BsButtonGroup @class="btn-group-vertical" @value={{buttonGroupValue}} @type="radio" @onChange={{this.filterBy}} as
      |bg|>
      <div class="list-group">
        <bg.button class="green bg-green-hover list-group-item list-group-item-action" @value="all">SHOW ALL
        </bg.button>
        {{#each this.filterOptions as |option|}}
        <div class="dropdown-divider mb-0"></div>
        <bg.button class="green bg-green-hover text-wrap list-group-item list-group-item-action" @value={{option}}>
          {{option}}
        </bg.button>
        {{/each}}
      </div>
    </BsButtonGroup>
  </div>
</div>