{{page-title "Maps"}}
{{outlet}}

{{!--
https://www.google.com/maps/place/Turkana+County/@2.9783772,34.2324817,8z/data=!3m1!4b1!4m5!3m4!1s0x17835ec9930e52c1:0x61edf66a08eab395!8m2!3d3.3122477!4d35.5657862
--}}


<div class="row" style='{{if this.maps this.myStyle}}'>
  <div class="col-md-9 col-lg-9">
    <GMap @lat={{lat}} @lng={{lng}} @zoom={{8}} @minZoom={{7}}
      @data="!3m1!4b1!4m5!3m4!1s0x17835ec9930e52c1:0x61edf66a08eab395!8m2!3d3.3122477!4d35.5657862"
      @panControl={{false}} @streetViewControl={{false}} />

  </div>
  <div class="col-md-3 col-lg-3">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

</div>

{{!-- <LeafletMap @lat={{lat}} @lng={{lng}} @zoom={{zoom}} as |layers|>

  <layers.tile @url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png" />

  {{#each this.full as |f|}}
  <layers.marker @location={{f}} as |marker|>
    <marker.tooltip>
      <p>{{this.emberConfLocationData}}</p>
    </marker.tooltip>
  </layers.marker>
  {{/each}}

  <layers.polyline @locations={{this.full}} />

</LeafletMap> --}}