{{page-title "Maps"}}
{{outlet}}


<div class="row" style='{{if maps this.myStyle}}'>
  <div class="col-md-9 col-lg-9">
    <GMap @lat={{london.lat}} @lng={{london.lng}} @zoom={{7}} @minZoom={{4}} @panControl={{false}}
      @streetViewControl={{false}} @gestureHandling="greedy" @disableDefaultUI={{true}} as |map|>

      {{#each this.filteredLocation key="id" as |location id |}}
      <map.marker @lat={{location.lat}} @lng={{location.lng}} @draggable={{true}} @onClick={{fn this.flashMessage
        (concat "Clicked: " location.lat ", " location.lng)}} /> />
      {{/each}}
    </GMap>

  </div>

  <div class="col-md-3 col-lg-3">
    <BsButtonGroup @class="btn-group-vertical" @value={{buttonGroupValue}}
    @type="radio"
    {{!-- @onChange={{action (mut buttonGroupValue)}} --}}
       @onChange={{fn this.filterBy}}
       as |bg|>
      <div class="list-group">
        {{#each this.filterOptions as |option|}}
        <bg.button class="green bg-green-hover list-group-item list-group-item-action" @value={{option}}>{{option}}
        </bg.button>
        {{/each}}
        </div>
    </BsButtonGroup>
  </div>
</div>