{{page-title "Projects"}}
{{outlet}}
<div>
    <h4 class="mb-4 text-muted green">Turkana County Projects Allocations</h4>
    <div class="row">
        {{#each topData as |dt|}}
        <div class="col-md-4 col-lg-2">
            <div class="card text-center p-2 mb-3 shadow border-0 rounded-0 bg-{{dt.color}} text-light">
                <div class="card-body">
                    <h2 class="mb-2">{{dt.value}}</h2>
                    <h4 class="card-title">{{dt.title}}</h4>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            {{ember-chart
            type=this.chartData.type
            data=this.chartData.data
            }}
        </div>
        <div class="col-md-8 col-lg-8 p-3 bg-green">
            <h4 class="mb-4 text-white">Ministerial Budget Allocations</h4>
            <div class="row">
                <div class="col-md-2 col-lg-3">
                    <p class="prog-text text-shadow">Agriculture and Others</p>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="progress mb-3" style="height: 20px;">
                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">0.287bn</div>
                    </div>
                </div>
            </div>


            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                    aria-valuemax="100">50%</div>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar" role="progressbar" style="width: {{percent}}" aria-valuenow="100"
                    aria-valuemin="0" aria-valuemax="100">{{amount}}</div>
            </div>
        </div>

    </div>

</div>