{{page-title "Systems"}}
{{outlet}}

<div>
    <h4 class="mb-4 text-muted">Integrated Systems</h4>
    <div class="row">
        <div class="col-md-3 col-lg-2 mb-4 align-middle">
            <span>{{ svg-jar "arcGis"}}</span>
            <h4 class="mt-4 text-muted">ARCGIS MAPPING SYSTEM</h4>
            <LinkTo @route="dash" @disabled={{true}}>
                <a href="#" class="bg-green btn btn-lg">view</a>
            </LinkTo>
        </div>
        <div class="col-md-3 col-lg-2 mb-4 align-middle">
            <span>{{ svg-jar "county_revenue"}}</span>
            <h4 class="mt-3 text-muted">{{uppercase "County Revenue Systems"}}</h4>
            <LinkTo @route="dash" @disabled={{true}}>
                <a href="#" class="bg-green btn btn-lg">view</a>
            </LinkTo>
        </div>
        <div class="col-md-3 col-lg-2 mb-4">
            <span>{{ svg-jar "partner_donor"}}</span>
            <h4 class="mt-3 text-muted">{{uppercase "Partner and Donor Fund Systems"}}</h4>
            <LinkTo @route="dash" @disabled={{true}}>
                <a href="#" class="bg-green btn btn-lg">view</a>
            </LinkTo>
        </div>
        <div class="col-md-3 col-lg-2 mb-4">
            <span>{{ svg-jar "kobo"}}</span>
            <h4 class="mt-5 text-muted">{{uppercase "kobo toolbox"}}</h4>
            <LinkTo @route="dash" @disabled={{true}}>
                <a href="#" class="bg-green btn btn-lg">view</a>
            </LinkTo>
        </div>
    </div>
{{!--
    <div class="row">
        <div class="col-md-5 col-lg-3 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">ArcGis Mapping System</h5>
                    <LinkTo @route="kpi" @disabled={{true}}>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </LinkTo>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-3 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">County Revenue Systems</h5>
                    <LinkTo @route="maps" @disabled={{true}}>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </LinkTo>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 mb-4">
            <div class="card bg-green text-light shadow border-0 rounded-0">
                <div class="card-body text-center">
                    <h5 class="card-title">Partner and Donor Fund Systems</h5>
                    <LinkTo @route="maps" @disabled={{true}}>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </LinkTo>
                </div>
            </div>
        </div>
    </div> --}}
</div>
